<header id="header">

    <div class="header-area" >
        <div class="holder">
            <div class="grid-container">
                <div class="top-bar main-top-bar">
                    <div class="logo">
                        <a href="/">
                            <img src="images/logo.png" alt="Logotype" >
                        </a>
                    </div>
                    
                    <div class="nav-holder">
                        <nav class="main_nav navigation" id="main-menu" aria-label="navigation">
                            <ul class="vertical medium-horizontal menu" data-responsive-menu="accordion medium-dropdown" data-animate="someAnimationIn someAnimationOut">
                                <li >
                                    <a href="#wrapper" title="Home" accesskey="1" >home </a>
                                </li>
                                <li>
                                    <a href="#services" title="Services" >Services</a>
                                </li>
                                <li>
                                    <a href="#faq" title="FAQ" >FAQ</a>
                                </li>
                                <li>
                                    <a href="#testimonials" title="Testimonials">Testimonials</a>
                                </li>
                                <li>
                                    <a href="#about" title="About">About</a>
                                   
                                </li>
                            </ul>
                        </nav>
                        <a href="#get-quote" class="button anchor-btn">Get a quote</a>
                        <div class="title-bar" data-responsive-toggle="main-menu" data-hide-for="medium">
                            <button class="menu-icon" type="button"  aria-label="menu-open" data-toggle="main-menu"></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>