.faqs-open-close {
    padding: 24px 29px 10px;
    position: relative;
    border-radius: $global-radius;
    margin-bottom: 30px;
    box-shadow: 0 0 20px 10px rgba($black, .07);
    transition: background $animation-speed ease , color $animation-speed ease ;

    @include breakpoint(large) {
        padding: 34px 39px 15px;
    }

    &:hover {
        color: $white;
        background: $success-color;

        .icon-block {
            color: $white;
        }
    }

    &:before {
        content: '\e919';
        font-family: "icomoon";
        font-size: rem-calc(20);
        position: absolute;
        top: 20px;
        right: 20px;
        
        @include breakpoint(large) {
            top: 32px;
            right: 41px;
        }
    }

    &.active{
        &:before{
            content: '\e918';
        }
    }
    

    .opener {
        position: relative;
        display: block;
        cursor: pointer;
        border-radius: $global-radius;
    }

    .icon-block {
        @include size(67px);
        font-size: rem-calc(33);
        border-radius: 50%;
        border: 2px dashed $primary-color;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0 0 rem-calc(20);
        color: $primary-color;
        transition: color $animation-speed ease;

        i {
            color: inherit;
        }
    }

    h3 {
        color: inherit;
        text-transform: uppercase;
        margin-bottom: 12px;
    }

    a {
        color: inherit;
    }
}