.grid-container {
    position: relative;
}

.section {
    padding: rem-calc(60) 0;
    overflow: hidden;

    &.success{
      background: $success-color;
      color: $white;
    }
}


.main-title {
    text-align: center;
    position: relative;
    padding-top: rem-calc(35);

    &:before {
        content: "";
        position: absolute;
        top: 10px;
        left: 50%;
        transform: translateX(calc(-50% + -9px));
        height: 5px;
        width:58px;
        background-color: $secondary-color;
        outline-color: $secondary-color;
        box-shadow: 15px 0px 0px #ea4a6b;
        border-right: 5px solid $white;

    }
}

.custom-list{
    
}