[id="header"] {
    position: relative;
    z-index: 100;

    .button {
        margin: 0;
    }

    .anchor-btn {
        margin-left: 10px;
        white-space: nowrap;
        padding: rem-calc(8) rem-calc(12);
        font-size: rem-calc(13);

        @include breakpoint(large) {
            margin-left: 66px;
            padding: $button-padding;
            font-size: 1rem;
        }
    }

    .holder{
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
        background: $body-background;
    }

    .top-bar{
        flex-wrap: nowrap;
    }
}

.menu {
    text-transform: uppercase;
    font-weight: 600;

    a {
        color: inherit;

        &.anchor-active{
            color: $menu-item-color-active;
        }
    }
}

.nav-holder {
    display: flex;
    align-items: center;

    @include breakpoint(medium) {}
}

.dropdown.menu>li>a {
    @include breakpoint(large) {
        padding-left: 22px;
        padding-right: 22px;
    }
}

.navigation {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background: $white;
    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.1);
    font-size: rem-calc(16);

    @include breakpoint(medium) {
        position: static;
        box-shadow: none;
    }
}

@include menu-expand;