.animateBlock {
    transform: translateY(50px);
    animation-delay: 0.4s;
    opacity: 0;

    &.animate_start {
        animation: 1000ms ease 1.4442ms 1 normal forwards running fade-in;
    }
}

.fadeInLeft {
    &.animate_start {
        animation-name: fadeInLeft;
    }
}

.fadeInRight {

    &.animate_start{
        animation-name: fadeInRight;
    }
  }
  

@keyframes fade-in {
    0% {
        transform: translateY(50px);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}



@keyframes fadeInLeft {
    0% {
        opacity: 0;
        -webkit-transform: translateX(-20px);
        -ms-transform: translateX(-20px);
        transform: translateX(-20px);
    }

    100% {
        opacity: 1;
        -webkit-transform: translateX(0);
        -ms-transform: translateX(0);
        transform: translateX(0);
    }
}

@keyframes fadeInRight {
    0% {
      opacity: 0;
      -webkit-transform: translateX(20px);
      -ms-transform: translateX(20px);
      transform: translateX(20px);
    }
  
    100% {
      opacity: 1;
      -webkit-transform: translateX(0);
      -ms-transform: translateX(0);
      transform: translateX(0);
    }
  }