$decor-color: rgba($primary-color, .1);
$dot-color: rgba($primary-color, .2);

[class^="decor-"] {
    z-index: 0;
}

.decor-dots {
    // Colors
    $bg-color: transparent;

    // Dimensions
    $dot-size: 3px;
    $dot-space: 13px;

    position: absolute;
    top: 0;
    width: 168px;
    height: 136px;
    background-color: $bg-color;
    background-image: radial-gradient(circle, $dot-color 20%, transparent 10%), radial-gradient(circle, $dot-color 20%, transparent 10%);
    background-size: 17px 17px;
    background-position: 0 0, 0 0;
}

.decor-ellipse {
    top: 0;
    position: absolute;
    fill: $decor-color;
    width: 30vw;
    padding-bottom: 100%;
    overflow: hidden;
    pointer-events: none;

    .svg-content {
        transform: rotate(45deg);
    }
}

.decor-square {
    width: 70.7%;
    background: $decor-color;
    border-radius: $global-radius;
    position: absolute;
    top: 15px;
    left: -36px;
    z-index: 0;
    height: 100%;

    @include breakpoint(medium) {
        top: 33px;
        height: 100%;
    }
}

.decor-circle {
    @include size(136px);
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    border-radius: 50%;
    border: 40px solid $decor-color;
    z-index: 0;

    &.left {
        left: -67px;
        right: auto;
    }
}

.decor-border-square {
    @include size(130px);
    position: absolute;
    transform: rotate(45deg);
    border: 30px solid $decor-color;
    border-radius: $global-radius;
}