$ellipse-color: rgba($primary-color, .1);
$dot-color: rgba($primary-color, .2);


.decor-dots {
    // Colors
    $bg-color: transparent;

    // Dimensions
    $dot-size: 3px;
    $dot-space: 13px;

    position: absolute;
    top: 0;
    left: 0;
    width: 168px;
    height: 136px;
    background-color: $bg-color;
    background-image: radial-gradient(circle, $dot-color 20%, transparent 10%), radial-gradient(circle, $dot-color 20%, transparent 10%);
    background-size: 17px 17px;
    background-position: 0 0, 0 0;
}

.decor-ellipse{
    fill: $ellipse-color;
    // transform: rotate(45deg);
    width: 433px;
    height: 142px;
    position: absolute;
    top: 0;
    left: 0;
}